script(src="//accaii.com/okaykasu/script.js" async)
noscript
  img(src="//accaii.com/okaykasu/script?guid=on")


nav(class="navbar navbar-expand-lg navbar-dark bg-dark mb-3")
  a(class="navbar-brand" href="#") おk粕Web版
  button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu1" aria-controls="#navmenu1" aria-expanded="false" aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
  div(class="collapse navbar-collapse" id="navmenu1")
    ul(class="navbar-nav mr-auto")
      li(class="nav-item")
        a(class="nav-link" href="/allchunkranges") チャンク範囲一覧
      li(class="nav-item")
        a(class="nav-link" href="/allnextranges") ネクステ範囲一覧
    ul(class="navbar-nav")
      li(class="nav-item")
        a(class="nav-link justify-content-end" target="_blank" rel="noopener noreferrer" href="/bunkei") おk粕文系
      li(class="nav-item")
        a(class="nav-link justify-content-end" target="_blank" rel="noopener noreferrer" href="https://github.com/kashu-02/okaykasu") 技術情報(GitHub)
