doctype html
html(lang="ja")
  head
    include ./_head
  body
    include ./_header

    div(class="container")
      div(class="row mt-4 mb-5 justify-content-around")
        div(class="col-sm-6")
          div(class="card w-75 align-middle")
            div(class="card-header bg-success text-white")
              if chunkrange
                p(class="card-title d-flex align-items-center") チャンク　#{chunkrange.date}
              else
                p(class="card-title d-flex align-items-center") チャンク　取得できませんでした。
            div(class="card-body")
              if chunkrange
                p(class="card-text d-flex align-items-center") #{chunkrange.chunkrange}
              else
                p(class="card-text d-flex align-items-center") 取得できませんでした。

        div(class="col-sm-6")
          div(class="card w-75 align-middle")
            div(class="card-header bg-warning text-white")
              if nextstagerange
                p(class="card-title") ネクステ　#{nextstagerange.date}
              else
                p(class="card-title") ネクステ　取得できませんでした。
            div(class="card-body")
              if nextstagerange
                p(class="card-text") #{nextstagerange.nextstagerange}
              else
                p(class="card-text") 取得できませんでした。

    include ./_script