doctype html
html(lang="ja")
  head
    include ./_head
  body
    include ./_header

    div(class="container")
      unless isLogined
        p 課題、連絡事項を表示するには学校のGoogleアカウントでのログインが必要です。
        a(href="/auth/google" class="btn btn-primary") ログイン
      else
       p iPad横向き推奨。スマホとかiPad縦向きだと表示がおかしくなるかも。
       iframe(width="700" height="550" style="position:relative;width:100%;height:0;padding-top:75%" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=F67DE55759CA9F24%214962&authkey=%21APo3O_19D-95Vro&em=2&wdAllowInteractivity=False&Item='%E3%82%B7%E3%83%BC%E3%83%881'!A1%3AG19&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True")

    include ./_script
