doctype html
html(lang="ja")
  head
    include ./_head
  body
    include ./_header

    div(class="container")
      a(href="https://docs.google.com/spreadsheets/d/1ZqUB2NJ-11sOpR9Q4tIhihsO5ed5vcnTZTJuEcg3238/edit?usp=sharing" target=”_blank”) Googleスプレッドシートで開く
      unless isLogined
        p 課題、連絡事項を表示するには学校のGoogleアカウントでのログインが必要です。
        a(href="/auth/google" class="btn btn-primary") ログイン
      else
       p iPad横向き推奨。スマホとかiPad縦向きだと表示がおかしくなるかも。
       .
         <iframe width="900" height="550" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTzSbri-5s_do0JPywyD6jouhBnCwdu9m0FhxBdqNIYmy7BG3tz2TJUXhzG_NinpH0Sp-dnmQq20y1I/pubhtml?gid=0&amp;range=a1:g19&amp;single=true&amp;chrome=false&amp;headers=false"></iframe>

    include ./_script
