doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title おk粕　Web版
  body
    h1 おk粕　Web版
    h1 DEBUG MODE
    div
    table
      tr
        td chunkrange.date
        td chunkrange.chunkrange
    table
      tr
        td nextstagerange.date
        td nextstagerange.nextstagerange

    div
    if okaykasudata
      a(href="/auth/google") ログイン
    