doctype html
html(lang="ja")
  head
    include ./_head
  body
    include ./_header

    div(class="container")
      unless isLogined
        p 課題、連絡事項を表示するには学校のGoogleアカウントでのログインが必要です。
        a(href="/auth/google" class="btn btn-primary") ログイン
      else
        div(class="card mb-2")
          div(class="card-body")
            img(class="card-img" src="https://dl.dropboxusercontent.com/s/628pdlrp2axo7dc/lunch_menu.jpeg" width="50%" height="50%")
						
    include ./_script
